# Node.js dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Debugging
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Coverage reports
coverage/

# Dependency directories
bower_components/

# Database
database/app.db

# Environment variables'
.env
